@media (max-width: 40rem) {
  html {
    font-size: 50%;
  }

  /* hero section queries */
  .hero-section {
    padding-top: 15rem;
  }

  .hero-section_sub_heading {
    font-size: 2.25rem;
  }

  .CTA-section {
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
  }

  /* switch-item styles  */

  .switch-item-title {
    font-size: 1.75rem;
    width: 90%;
  }

  .switch-item-image {
    width: 12%;
    display: inline-block;
}

/* sections logo styles */
.logo-p-text {
  display: none;
}

/* sub-sections styles */
.section-div_partners_logo, .section_sub-div{
  margin-block: 10rem;
}

.div-ul_listitems {
  line-height: 2.5;
}

.section_with_image_bg h2 {
  color: white;
  font-weight: 400;
  font-size: 4.5rem;
  /* border: 2px dotted white; */
  padding-bottom: 40px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.div-cards_container {
  flex-direction: column;
  margin-top: 4rem;
  row-gap: 2rem;
  padding-inline: 1.75rem;
}

.div-card {
  width: 100%;
  margin-top: 4rem;
}

.div-card_description p {
  font-size: 1.75rem;
}

.div-card_title h4 {
  font-size: 3rem;
}

.div-button_wrapper {
  margin-top: 7.5rem;
}
.button {
  padding: 2rem 3rem ;
  color: var(--black);
  font-size: 2rem;
  background-color: var(--survi-green-primary);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  margin-bottom: 1.75rem;
}

/* section-with_white_bg styles */
.section-with_white_bg {
  padding-block: 7.5rem 10rem;
  padding-inline: 20px;
  background-color: #f1f1f1;
}

.div-step_one_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.step_label {
  display: inline-block;
  font-size: 1.75rem;
  color: var(--coral-2);
  background-color: #5F0FF51A;
  padding-inline: 1rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  
}

.div-step_one_header {
  font-size: 4.75rem;
  color: var(--black);
  padding-bottom: 5rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.div-step_one_content {
  margin-bottom: 3rem;
  background-color: white;
  padding-bottom: 2rem;
  padding-inline: 1rem;
}

.div-step_content_text {
  margin-top: 2.5rem;
}

.div-step_content_text_bold {
  font-size: 2.125rem;
  font-weight: bold;
  margin-bottom: 1.8rem;
  color: var(--black);
  line-height: 1.2;
}

.div-step_content_text_normal {
  font-size: 2rem;
}

.div-step_content_button_container {
  margin-top: 3.75rem;
}
.div-step_content_button {
  font-size: 2rem;
  padding-inline: 2.75rem;
  padding-block: 2rem;
  color: var(--coral-2);
  background-color: #5F0FF51A;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.step_two_button {
  color: var(--coral);
  width: 100%;
  margin-bottom: 5rem;
}

.div-img_testimoy_logo {
  width: 10rem;
  display: inline-block;
  margin-bottom: 1.25rem;
}

.div-p_text {
  display: block;
  font-size: 2.125rem;
  padding-inline: 2rem;
  text-align: center;
  line-height: 1;
}

.avatar_image {
  width: 5rem;
  display: inline-block;
}

.avatar_name {
  font-size: 2.125rem;
}

.div_testimoy_container  {
  /* border: 3px dotted tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.section_features_feedback h2 {
  font-size: 4.5rem;
  letter-spacing: -1px;
  padding-bottom: 3rem;
  margin-bottom: 1.125rem;
  text-align: center;
  font-weight: normal;
}

.div_testimoy_avatar_container {
  margin-top: 2rem;
  text-align: center;
}

.section_features_feedback_card {
  padding: 1rem;
}

.section_heading {
  font-size: 4.5rem;
  color: var(--black);
  text-align: center;
  font-weight: 500;
  padding-bottom: 5rem;
  margin-bottom: 1.125rem;
}

.card_button {
  color: var(--coral-2);
}

.feedback_image {
  margin-bottom: 2rem;
}


.div_team_section_container {
  display: flex;
  flex-direction: column;
  grid-area: 1.125rem;
}

.div_team_section_container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 6.25rem;
  padding-bottom: 1.5rem;
  background: #f8f8f8;
}

.div_team {
  margin-top: 4rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.div_team_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.div_team_title p {
  font-size: 3rem;
  color: var(--black);
  font-weight: 700;
}

.div_team_title + p {
  font-size: 1.75rem;
  padding: 1.5rem 0rem 2.875rem;
  color: var(--black);
}

.div_team_title + p + a {
  text-decoration: underline;
  color: var(--coral-2);
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 3rem;
}

.section_with_logo {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  /* border: 2px solid aqua; */
  padding-inline: 3rem;
}

.section_with_logo_heading {
  font-size: 5rem;
  padding-inline: 1.75rem;
  text-align: center;
  line-height: 1.2;
  font-weight: normal;
  padding-bottom: 5rem;
  margin-block: 3rem;
}

.div_logos_container {
  padding-top: 19rem;
  padding-bottom: 8rem;
  width: 90%;
  /* border: 4px dotted darkblue; */
  margin: 0 auto;
  text-align: center;
  background: url(../assests/images/6389df58b699a6599ce4f8d0_integrations-background-image.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.div-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 30rem;
  gap: 2rem;
  margin: 0 auto;
}

.div_logo {
  background-color: #e1e2e2;
  padding-block: 1.5rem;
  border-radius: 12px;
  width: 14rem;
  height: 11.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_logo p {
  font-size: 1.5rem;
}

.div_logo img {
  display: inline-block;
}

.section_testimoy_container {
  padding-top: 8rem;
}

.avatar_container {
  margin-bottom: 7rem;
}

.section_try_it_now {
  padding-top: 10rem;
  background: url(../assests/images/66cdaf1bdd12d7296b5e6846_TEAM-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.div-flex_container {
  width: 95%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  /* border: 3px solid white; */
  margin: 0 auto;
}

.div-h2_try_it_now_heading {
  font-size: 4.75rem;
  margin-block: 2.5rem 1.25rem;
  padding: 0rem 2.375rem 5rem;
  text-align: center;
  color: #f1f1f1;
  font-weight: normal;
}

.try_it_now_button {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 0px;
}

.try_it_now_button button {
  width: 100%;
}

.btn_book_a_call {
  background-color: #76e8cd33;
  color: #76E9CD;
}

.div_ul_try_it_now {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

footer {
  padding-top: 8rem;
  padding-inline: 2.5rem;
  background-color: #e1e2e2;
  background: url(../assests/images/60a25a39afc13d1831612219_background-footer.svg);
}

.div-footer_flex_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div-footer-social_icon {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer_img_logo {
  margin-bottom: 4rem;
}

.footer_nav p {
  font-size: 2rem;
  font-weight: 900;
}

.div-footer_flex_container {
  padding-inline: 2rem;
  margin-bottom: 3rem;
}

.div_copyright_grid {
  width: 60%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-left: 2rem;
}

.div_copyright_terms {
  display: flex;
  justify-content: space-between;
  
}

.div_copyright_terms a {
  text-decoration: none;
  font-size: 1.75rem;
  color: #171d1ab3;
}

.div_copyright_grid p {
  font-size: 1.375rem;
  color: #171d1ab3;
}

.footer_img_logo {
  width: 25rem;
}






/* btn components styles  */
  .btn {
    padding: 2rem;
  }
  .btn-primary {
    background-color: var(--coral-2);
}

}