@media (min-width: 47.5rem) {
  html {
    font-size: 87.5%;
  }

  .hero-section_main_heading {
    font-size: 3.9rem;
    /* border: 2px dotted goldenrod; */
    font-weight: 600;
    text-align: center;
  }

  .hero-section_sub_heading {
    font-size: 1.78rem;
    text-align: center;
  }

  .btn {
    padding: 15px 30px;
  }

  .btn-primary {
    background-color: var(--coral-2);
    font-weight: bold;
    font-size: 16px;
  }
  
  .btn-secondary {
    background-color: var(--dark-grey);
    color: var(--coral-2);
    font-weight: bold;
    font-size: 16px;
  }

  .switch-bar-container {
    column-gap: 0rem;
    flex-wrap: nowrap;
    padding: 2px;
  }

  .switch-item {
    padding: .5rem;
  }

  .switch-item p {
    font-size: 1rem;
  }

  .switch-item label p {
    width: 100%;
}

  /* CSS Style for the dropdown toggle button on Switch image Section*/

  #image-toggle {
    display: none;
  }

  #image-toggle-two {
    display: none;
  }

  #image-toggle-three {
    display: none;
  }

  #image-toggle-four {
    display: none;
  }

  /* Toggle the menu when checkbox is checked */
  #image-toggle:checked ~ .switch-item-image-one {
    display: block;
    
  }

  #image-toggle-two:checked ~ .switch-item-image-two {
    display: block;
  }

  /* #image-toggle-three:checked ~ .switch-item-image-three {
    display: block;
  }

  #image-toggle-four:checked ~ .switch-item-image-four {
    display: block;
  } */

  .div-cards_container {
    flex-direction: row;
    gap: 1rem;
  }
  
  .div-card_description p {
    font-size: 1rem;
  }




  
}